<div class="container-fluid bg-dark area2 text-white">
  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight"><h2>Cadastrar Recrutador</h2></div>
    </div>
    <form class="row form "  [formGroup]="recrutadorForm">
      <div class="col-md-4 my-3">
        <label for="formGroupNome" class="form-label">Nome</label>
        <input type="text" name="nome" id="formGroupNome"  class="form-control"   placeholder="Digite o nome do recrutador" formControlName="nome">
      </div>
      <div class="col-md-4 my-3">
        <label for="formGroupSobrenome" class="form-label">Sobrenome</label>
        <input type="text"  id="formGroupSobrenome" class="form-control" placeholder="Digite o sobrenome do candidato" formControlName="sobrenome">
      </div>
      <div class="col-md-4 my-3">
        <label class="form-label" for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required formControlName="email">
      </div>
      <div class="col-12 my-3">
        <button type="submit" class="btn btn-primary" (click)="criarRecrutador()">Registrar</button>
      </div>
    </form>
  </div>
</div>
