<div class="area ">
  <h2 class="text-center p-2">Painel de cadastro</h2>
  <div class="area2">
    <div class="row row-cols-1  row-cols-sm-2" id="cardsCadastro">
      <div class="col text-center">
        <div class="card text-white bg-dark"  >
          <img src="../../../assets/img/candidato.jpg" class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">Painel de Candidatos <a class="btn btn-primary" (click)="navegarParaCandidatos()"> Gerenciar</a></h5>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <div class="card text-white bg-dark" >
          <img src="../../../assets/img/recrutador.jpg" class="card-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">Painel de Recrutadores <a class="btn btn-primary" (click)="navegarParaRecrutador()">Gerenciar</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
