<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" id="logo" >
        <img src="../assets/img/logoatos.png" alt="" width="30" height="24">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link "  href="#">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastro
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" (click)="navegarParaCandidatos()">Candidato</a></li>
              <li><a class="dropdown-item" (click)="navegarParaRecrutador()">Recrutador</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="py-3 bg-dark ">
    <div class="container-fluid px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Desenvolvido e criado por <a href="#" style="text-decoration: none; color: aqua;">Claudio Vinicius</a></p></div>
  </footer>
</div>
